body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.joke-card{
  background-color: lightblue;
  display: inline-flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border: blueviolet;
  border-style: inset;
  border-width: medium;
  height: 250px;
  width: 350px;
  padding: 5px;
  margin: 10px;
}
.joke-question{
  color: rgb(32, 108, 110);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.joke-punchLine{
  color: rgb(74, 7, 138);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
.joke-text{
  width: 300px;
  height: 100px;
  margin: 5px;
  text-align: center;
}
